/* --------------- */
/* estructura
1. posicionamiento
2. modelo de caja (box model)
3. tipografias
4. visuales
5. otros
*/

:root {
    /*    colores */
    --linear-bg: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-plus: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* para poder activar uso de tamaño en rem */
    font-family: "DM Sans", sans-serif;
}


/* ------------------------------------------- */
/* 3. tipografias */
/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/DM_Sans/dm-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/DM_Sans/dm-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/DM_Sans/dm-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/DM_Sans/dm-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/DM_Sans/dm-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/DM_Sans/dm-sans-v6-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
}

/* dm-sans-500 - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/DM_Sans/dm-sans-v6-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/DM_Sans/dm-sans-v6-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/DM_Sans/dm-sans-v6-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/DM_Sans/dm-sans-v6-latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/DM_Sans/dm-sans-v6-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/DM_Sans/dm-sans-v6-latin-500.svg#DMSans') format('svg'); /* Legacy iOS */
}

/* dm-sans-700 - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/DM_Sans/dm-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/DM_Sans/dm-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/DM_Sans/dm-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/DM_Sans/dm-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */ url('../fonts/DM_Sans/dm-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/DM_Sans/dm-sans-v6-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
}

/* ---- */

/* inter-300 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/Inter/inter-v3-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/Inter/inter-v3-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Inter/inter-v3-latin-300.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/Inter/inter-v3-latin-300.woff') format('woff'), /* Modern Browsers */ url('../fonts/Inter/inter-v3-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Inter/inter-v3-latin-300.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Inter/inter-v3-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/Inter/inter-v3-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Inter/inter-v3-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/Inter/inter-v3-latin-regular.woff') format('woff'), /* Modern Browsers */ url('../fonts/Inter/inter-v3-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Inter/inter-v3-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}

/* inter-500 - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/Inter/inter-v3-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/Inter/inter-v3-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/Inter/inter-v3-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/Inter/inter-v3-latin-500.woff') format('woff'), /* Modern Browsers */ url('../fonts/Inter/inter-v3-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/Inter/inter-v3-latin-500.svg#Inter') format('svg'); /* Legacy iOS */
}

/* ---------------- */

/*1. posicionamiento*/
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: var(--linear-bg);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header-title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header-title-container h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    color: var(--just-white);
}

.header-title-container p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: var(--soft-orange);
    margin-top: 25px;
}

.header-title-container .header-button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background: var(--off-white);
    /* Sombra  */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black-plus);
}

.header-button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../assets/icons/down-arrow.svg");
}

/* home */
